body {
  margin: 0;
  overflow: hidden;
}

.controller.ds4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1450px;
  height: 1080px;
  background: url("https://matiinb.github.io/controller-overlay/base.png") no-repeat center;
  background-size: 100% 100%;
}

.ds4.disconnected div {
  display: none;
}

.ds4 .button,
.ds4 .face,
.ds4 .bumper,
.ds4 .trigger,
.ds4 .stick,
.ds4 .meta,
.ds4 .arrows,
.ds4 .quadrant,
.ds4 .trigger-button {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
  background-size: 100% 100% !important;
  opacity: 0;
  box-shadow: none !important;
}

.ds4 .quadrant,
.ds4 .arrows,
.ds4 .back,
.ds4 .start,
.ds4 .xbox {
  display: none !important;
}

/* face buttons */
.ds4 .button.a.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/cross.png");
}

.ds4 .button.b.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/circle.png");
}

.ds4 .button.x.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/square.png");
}

.ds4 .button.y.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/triangle.png");
}

/* dpad */
.ds4 .face.up.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/dpad_up.png");
}

.ds4 .face.down.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/dpad_down.png");
}

.ds4 .face.left.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/dpad_left.png");
}

.ds4 .face.right.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/dpad_right.png");
}

/* l1 r1 */
.ds4 .bumper.left.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/l1.png");
}

.ds4 .bumper.right.pressed {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/r1.png");
}

/* l2 r2 */
.ds4 .trigger.left {
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/l2.png");
}

.ds4 .trigger.right {
  background-image: url("https://matiinb.github.io/controller-overlay/pressed/r2.png");
}

/* sticks */
.ds4 .stick.left {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/stick_left.png");
}

.ds4 .stick.right {
  opacity: 1;
  background-image: url("https://matiinb.github.io/controller-overlay/stick_right.png");
}
